@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    height: 100vh;
    background-color: #fffed7;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;

}

.container {
    /* border: 1px solid; */
    /* overflow: hidden; */
    padding: 20px 200px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.bottom-container {
    /* border: 1px solid; */
    width: 100%;
    margin-top: 25px;
}

.button-container{
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.button-container button{
    border: none;
    background-color: #fdd22d;
    border-radius: 40px;
    color: white;
    padding: 10px 25px;
    font-family: "Rammetto One", cursive;
    transition: background-color .25s;
}

.button-container button:hover{
    border: 1px solid #fdd22d;
    color: #fdd22d;
    background-color: #fffed7;
}




/* -------------------------------LEFT CONTAINER------------------------------- */
.left-container{
    /* border: 1px solid; */
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.name-container{
    /* border: 1px solid; */
    height: 100px;
    display: flex;
    align-items: center;
    padding: 15px  10px;
    max-width: 100%;
    width: 100%;
}

.name-container h1{
    font-family: "Rammetto One", cursive;
    font-size: 36px;
}





/* -------------------------------RIGHT CONTAINER------------------------------- */
.right-container{
    /* border: 1px solid; */
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 800px;
}

.selectedDate-container{
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(0, 0%, 34%, 0.50);
    /* border-radius: 15px; */
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rammetto One", cursive;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.selectedDate-container h1{
    font-size: 18px;
    text-align: center;
}

#selectedDate-image{
    width: 150px
}




/* -------------------------------KEY------------------------------- */
.key-container{
    /* border: 1px solid; */
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
}

.keyh1{
    /* border: 1px solid; */
    width: 75%;
}

.key-container h1{
    font-family: "Rammetto One", cursive;
    font-size: 18px;
    text-align: left;
}

.key-row{
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
    align-items: center;
    gap: 25px;
    width: 75%;
}

.key-row img{
    width: 62px;
    transform: translate(-18%, -19%);
    
}

.key-image{
    /* border: 1px solid hsla(0, 0%, 34%, 0.50); */
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 5px;
}

.key-text{
    display: flex;
    align-items: center;
    font-family: cursive;
    border-bottom: 1px solid;
    height: 100%;
    width: 200px;
    /* border: 1px solid; */
}





/* -------------------------------DATE------------------------------- */
.calendar{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: center;       /* vertical center */
    /* height: 100vh; */
    overflow: hidden;
    /* box-sizing: border-box; */
}

.date-container{
    /* border: 1px solid; */
    display: grid;
    /* grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px; */
    grid-template-columns: repeat(7, 105px);
    grid-template-rows: repeat(5, 105px);
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* width: 100%; */
    /* max-width: 700px; */
    /* box-sizing: border-box; */
}


.day{
    display: flex;
    border: 1px solid hsla(0, 0%, 34%, 0.50);
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    cursor: pointer;
}





