@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

.day.relaxed {
  background: #fee67c !important;
}
.day.happy {
  background: #feb3b7 !important;
}
.day.playful {
  background: #8ee682 !important;
}
.day.bored {
  background: #ce7fe6 !important;
}
.day.anxious {
  background: #62d7bc !important;
}
.day.sad {
  background: #aae8f8 !important;
}
.day.angry {
  background: #fd5646 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  background-color: #fffed7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  overflow-y: auto;
}

.container {
  padding: 2px 200px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.bottom-container {
  width: 100%;
  margin-top: 25px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button-container button {
  border: none;
  background-color: #fdd22d;
  border-radius: 40px;
  color: white;
  padding: 10px 25px;
  font-family: "Rammetto One", cursive;
  transition: background-color 0.25s;
  cursor: pointer;
}

.button-container button:hover {
  border: 1px solid #fdd22d;
  color: #fdd22d;
  background-color: #fffed7;
}

/* -------------------------------LEFT CONTAINER------------------------------- */
.left-container {
  /* border: 1px solid; */
  /* width: 70%; */
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  align-items: center;
}

.name-container {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  max-width: 100%;
  width: 100%;
}

.name-container h1 {
  font-family: "Rammetto One", cursive;
  font-size: 36px;
}

/* -------------------------------RIGHT CONTAINER------------------------------- */
.right-container {
  display: flex;
  flex-direction: column;
  height: 800px;
}

.selectedDate-container {
  display: flex;
  flex-direction: column;
  border: 1px solid hsla(0, 0%, 34%, 0.5);
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rammetto One", cursive;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 300px;
}

.selectedDate-container h1 {
  font-size: 15px;
  text-align: center;
}

.selectedDate-infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 290px;
}

#selectedDate-text {
  width: 100%;
}

#selectedDateImage {
  width: 150px;
}

#selectedDateEmotion {
  width: 150px;
  width: 100%;
}

#mood-label-container {
  width: 100%;
}

/* -------------------------------KEY------------------------------- */
.key-container {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.keyh1 {
  width: 95%;
}

.key-container h1 {
  font-family: "Rammetto One", cursive;
  font-size: 18px;
  text-align: left;
}

.key-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  width: 95%;
}

.key-row img {
  width: 62px;
  transform: translate(-18%, -19%);
}

.key-image {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 5px;
}

.key-text {
  display: flex;
  align-items: center;
  font-family: cursive;
  border-bottom: 1px solid;
  height: 100%;
  width: 200px;
}

/* -------------------------------DATE------------------------------- */
.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.date-container {
  display: grid;
  grid-template-columns: repeat(7, 105px);
  grid-template-rows: repeat(5, 105px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.day {
  display: flex;
  border: 1px solid hsla(0, 0%, 34%, 0.5);
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
  font-family: "Rammetto One", cursive;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.relaxed {
  background-color: hsla(48, 98%, 58%, 0.45);
}

.happy {
  background-color: hsla(320, 98%, 58%, 0.45);
}

.playful {
  background-color: hsla(110, 98%, 58%, 0.45);
}

.bored {
  background-color: hsla(286, 98%, 58%, 0.45);
}

.anxious {
  background-color: hsla(172, 98%, 58%, 0.45);
}

.sad {
  background-color: hsla(212, 98%, 58%, 0.45);
}

.angry {
  background-color: hsla(0, 98%, 58%, 0.45);
}

/* Style for the Add Mood button */
#add-mood-container {
  text-align: center;
}

#addMoodBtn {
  background-color: #fdd22d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
  font-family: "Rammetto One", cursive;
  border-radius: 30px;
}

#addMoodBtn:hover {
  border: 1px solid #fdd22d;
  color: #fdd22d;
  background-color: #fffed7;
}
